{% extends "base.html" %}

{% block title %}Schedule - tjSTAR{% endblock %}

{% block content %}
<div class="mx-auto" style="max-width: 42rem;">
    <h1 class="mb-3">Schedule</h1>

    <ul class="mb-0 ps-3">
        <li class="mb-3">
            <strong>8:40 - 9:50 AM:</strong> Keynote Address - TJ 2001 Graduate and Baltimore Orioles President Mike Elias
        </li>
        <li class="mb-3">
            <strong>10:00 - 10:45 AM:</strong> Block A
        </li>
        <li class="mb-3">
            <strong>10:55 - 11:40 AM:</strong> Block B
        </li>
        <li class="mb-3">
            <strong>11:50 - 12:35 PM:</strong> Block C
        </li>
        <li class="mb-0">
            <strong>12:35 - 1:25 PM:</strong> Lunch
        </li>
    </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
